
/* This is the main header styler, where oroby logistics, 
products locations and contact tags are */
.header-container{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #c2c2d6;
}

/*Logo takes 1/3 of the width*/

.logo{
    flex: 1 1 33.33%;
}

.logo a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-weight: 150px;
}

/*We style the letters of the "Warehouse" logo */
.logo h1{
    text-align: center;
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-weight: 150px;
}

/*Let's set the dimensions of the nav bar*/

.navigation{
    flex: 2 1 66.67%;
}

nav ul li{
    display: inline;
    padding: 80px;
    font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 24px;
}

/* General styling for all links */
nav ul li a {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 1px;
    transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, text-decoration 0.3s ease;
}

/* Default hover settings */
nav ul li a:hover {
    cursor: pointer;
    text-decoration: overline;
    
}

/*Now I am going to target the ul li tags separately in order to give them different hover colors*/
/*
a[class = "products"]:hover{
    color:#ff3333;
}

a[href = "#locations"]:hover {
    color: #4d4dff;
}

a[href = "#contact"]:hover {
    color: #adad85;
}*/

a[href="products.html"]:hover {
    color: #ff3333;
}

a[href="locations.html"]:hover {
    color: #4d4dff;
}

a[href="contactus.html"]:hover {
    color: #adad85;
}

/* Now i am going to apply a common for when you click on each tag, the:active pseudo element*/
nav ul li a:active {
    color: #73e600;
}





/* From here on this will be modifications for the rest of the page*/


.content-container {
    position: relative;
    /*background-color: lightblue;*/
    /*background-image: url(warehousebackground.jpg);*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*We have added a photo so we need to moidy opacity and make sure it olny affects said photo
in order to achieve this, we will place another layer with a before command*/

.content-container::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(warehousebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    filter: blur(2px) brightness(0.2);
    opacity: 0.; 
    pointer-events: none; 
    width: 100%;
    height: 100%;
}


/*Now here selectors for the rest of the page*/

.content {
    /*background-color: #4d4dff;*/
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 100px;
}

h1, h2, h3, p, b {
    font-family: 'Courier', 'Courier New', monospace;
    color: white;
    transition: font-size 0.5s ease, color 0.3s ease;
}



b {
    font-size: 13px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 23px;
    padding-left: 29px;
}

/*The following commands will target different hover elements*/


p:hover {
    font-size: 25px;
    text-decoration: underline;
    color: #ff3333;
}

/*Mian title "a smarter way to..."*/
h1:nth-of-type(1):hover {
    color: gold;
    font-size: 45px;
}

/*Our vision*/
h2:nth-of-type(1):hover {
    color: #668cff;
    font-size: 40px;
    text-decoration: underline;
}


/*Anytime, anywhere...*/
h3:nth-of-type(1):hover {
    color: #70db70;
    font-size: 33px;
    text-decoration: none;
}

/*User friendly design*/
h3:nth-of-type(2):hover {
    color: #ff4d4d;
    font-size: 33px;
    text-decoration: none;
}



/*what to expect*/
h2:nth-of-type(2):hover {
    color: #668cff;
    font-size: 43px;
    text-decoration: underline;
}

/*Reliable delivery*/
h3:nth-of-type(3):hover {
    color: #4dffff;
    font-size: 33px;
    text-decoration: none;
}

/*Continuous improvement*/
h3:nth-of-type(4):hover {
    color: #db70b8;
    font-size: 33px;
    text-decoration: none;
}

/*Stay tuned*/
h2:nth-of-type(3):hover {
    color: gold;
    font-size: 43px;
    text-decoration: underline;
}


/*HERE BELOW ARE ALL MEDIA QUERIES FOR MOBILE DEVICE OPTIMIZATION*/

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
    }
    
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: left;
        width: 100%;
    }
    
    .logo {
        margin-bottom: 0;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    nav ul li {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        font-size: 25px;
    }

    .content-container {
        width: 100%;
    }
    
    .content-container::before {
        width: 107%;
    }

}